[Unit]
Description=Puma HTTP Server
After=network.target

[Service]
Type=simple
User=alexgres48
WorkingDirectory=/home/alexgres48/reddit
ExecStart=/bin/bash -lc 'puma'
Restart=always

[Install]
WantedBy=multi-user.target